body{
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    line-height: 20px;
  }
  
header{
    background-color: rgb(201, 204, 185);
    padding: 1em 0; 
  }
header h1{
    text-align: center;
    font: weight 600px;
  }

footer{
    background-color: lightgrey;
    clear: both;
    color: black;
    padding: 3em 0;
    margin-top: 2em;
    text-align: center;
  }

.row {
  margin-top: 1em;
  margin-bottom: 1em;
}