<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rescate Animal</title>
    <link rel="stylesheet" href="index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <div>
            <center>
                <img src="backend/public/images/logo.png" width="350" alt="Rescate Animal">
            </center>
            <h1>Rescate Animal</h1>
        </div>
    </header>
   
   {{{body}}}

    <footer>Diseñado por Gabriel Porta Baldonedo</footer>
</body>
</html>