<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RescateAnimal</title>
    <link rel="stylesheet" href="/stylesheet/admin.css">
</head>
<body>
    <header style="text-align: center";>
        <div class="holder">
            <img src="/images/logo.png" width="300" alt="RescateAnimal">
            <h1>RescateAnimal</h1>
        </div>
    </header>

    {{{body}}}

    <footer>
        <p>Diseñado por Gabriel Porta Baldonedo - &copy;2021</p>
    </footer>
</body>
</html>