h1{
    text-align: center;
    color:blue
}
h3{
    font-style: italic;
    font-size: 19px;
}
li{
    font-size: 22px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
p{
    color: chocolate;
}

h5{
    width: 200px;
    height: 200px;
    background-color: blue;
    color: cornsilk;
    padding: 20px;
    border: 5px solid black;
    border-radius: 15px;
    box-shadow: -15px -10 px 0 0 rgb(9, 11, 15);
    font-family: 'Zen Tokyo Zoo', cursive;
    font-size: 17px;
}